<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
   <!-- To save as "hello\WEB-INF\web.xml" -->

   <servlet>
      <servlet-name>UserRegister</servlet-name>
      <servlet-class>User_Register</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>UserLogin</servlet-name>
      <servlet-class>User_Login</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>UserLogout</servlet-name>
      <servlet-class>User_Logout</servlet-class>
   </servlet>



   <servlet>
      <servlet-name>MyProfile</servlet-name>
      <servlet-class>My_Profile</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>MyOrders</servlet-name>
      <servlet-class>My_Orders</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>MyFeedbacks</servlet-name>
      <servlet-class>My_Feedbacks</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>MyRatings</servlet-name>
      <servlet-class>My_Ratings</servlet-class>
   </servlet>




   <servlet>
      <servlet-name>UserBrowseBooks</servlet-name>
      <servlet-class>User_Browse_Books</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>UserOrderBook</servlet-name>
      <servlet-class>User_Order_Book</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>UserOrderBookSuccess</servlet-name>
      <servlet-class>User_Order_Book_Success</servlet-class>
   </servlet>



   <servlet>
      <servlet-name>UserFeedback</servlet-name>
      <servlet-class>User_Feedback</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>UserWriteFeedback</servlet-name>
      <servlet-class>User_Write_Feedback</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>UserWriteFeedbackSuccess</servlet-name>
      <servlet-class>User_Write_Feedback_Success</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>UserViewFeedbacks</servlet-name>
      <servlet-class>User_View_Feedbacks</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>UserRateFeedback</servlet-name>
      <servlet-class>User_Rate_Feedback</servlet-class>
   </servlet>



   <servlet>
      <servlet-name>AdminNewBook</servlet-name>
      <servlet-class>Admin_New_Book</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>AdminUpdateBook</servlet-name>
      <servlet-class>Admin_Update_Book</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>AdminStatistics</servlet-name>
      <servlet-class>Admin_Statistics</servlet-class>
   </servlet>
 
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->

   <servlet-mapping>
      <servlet-name>UserRegister</servlet-name>
      <url-pattern>/user_register_success</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>UserLogin</servlet-name>
      <url-pattern>/user_login_success</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>UserLogout</servlet-name>
      <url-pattern>/user_logout</url-pattern>
   </servlet-mapping>



   <servlet-mapping>
      <servlet-name>MyProfile</servlet-name>
      <url-pattern>/my_profile</url-pattern>
   </servlet-mapping>
   
   <servlet-mapping>
      <servlet-name>MyOrders</servlet-name>
      <url-pattern>/my_orders</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>MyFeedbacks</servlet-name>
      <url-pattern>/my_feedbacks</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>MyRatings</servlet-name>
      <url-pattern>/my_ratings</url-pattern>
   </servlet-mapping>



   <servlet-mapping>
      <servlet-name>UserBrowseBooks</servlet-name>
      <url-pattern>/user_browse_books_results</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>UserOrderBook</servlet-name>
      <url-pattern>/user_order_book</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>UserOrderBookSuccess</servlet-name>
      <url-pattern>/user_order_book_success</url-pattern>
   </servlet-mapping>



   <servlet-mapping>
      <servlet-name>UserFeedback</servlet-name>
      <url-pattern>/user_feedback</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>UserWriteFeedback</servlet-name>
      <url-pattern>/user_write_feedback</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>UserWriteFeedbackSuccess</servlet-name>
      <url-pattern>/user_write_feedback_success</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>UserViewFeedbacks</servlet-name>
      <url-pattern>/user_view_feedbacks</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>UserRateFeedback</servlet-name>
      <url-pattern>/user_rate_feedback</url-pattern>
   </servlet-mapping>



   <servlet-mapping>
      <servlet-name>AdminNewBook</servlet-name>
      <url-pattern>/admin_new_book_success</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>AdminUpdateBook</servlet-name>
      <url-pattern>/admin_update_book_success</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>AdminStatistics</servlet-name>
      <url-pattern>/admin_statistics</url-pattern>
   </servlet-mapping>
</web-app>