<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
   <!-- To save as "hello\WEB-INF\web.xml" -->

   <servlet>
      <servlet-name>UserRegister</servlet-name>
      <servlet-class>Register</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>UserLogin</servlet-name>
      <servlet-class>Login</servlet-class>
   </servlet>

   <servlet>
      <servlet-name>AdminNewBook</servlet-name>
      <servlet-class>Admin_New_Book</servlet-class>
   </servlet>
 
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->

   <servlet-mapping>
      <servlet-name>UserRegister</servlet-name>
      <url-pattern>/user_register_success</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>UserLogin</servlet-name>
      <url-pattern>/user_login_success</url-pattern>
   </servlet-mapping>

   <servlet-mapping>
      <servlet-name>AdminNewBook</servlet-name>
      <url-pattern>/admin_new_book_success</url-pattern>
   </servlet-mapping>
</web-app>